* {
    margin: 0;
    box-sizing: border-box;
}

#home {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#title {
    width: 785px;
    height: 55px;
    font-size: 46px;
    margin: 0px 0px 16px 25px;
}

.adjust-img {
    display: block;
    height: 440px;
    width: 350px;
    margin-left: 30px;
}

.headings {
    margin: 20px 20px;
    font-size: 18px;
}

li {
    margin-bottom: 16px;
}
