* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(233, 130, 12, 0.232);
}
#title {
    width: 300px;
    text-align: center;
    background-color: rgba(34, 133, 245, 0.201);
    border: 1px solid rgba(31, 24, 24, 0.377);
    margin: 40px auto;
    font-family: cursive;
}

.adjust-text {
    display: block;
    text-decoration: none;
    color: black;
    margin: 30px auto;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    text-align: center;
}

.adjust-img {
    display: block;
    height: 310px;
    width: 310px;
    margin-bottom: 20px;
} 

.recipe{
    width: 312px;
    height: 390px;
    display: inline-block;
    list-style: none;
    margin-left: 150px;
}